## Load Data

In [2]:
import os

data_dirs = set()
for (dirpath, dirnames, filenames) in os.walk('.\\data\\act\\*'):
    data_dirs.add(dirpath)
    
data_dirs

set()

In [61]:
%%time
import glob
import pandas as pd

total_data = {
    'act': None,
    'acw': None,
    'dc_0.05_0.05': None,
    'pm_1.0_1.0': None,
}

headers = {
    'act': ['times', 'X', 'Y', 'Z'],
    'acw': ['times', 'X', 'Y', 'Z'],
    'dc_0.05_0.05': ['times', 'X', 'Y', 'Z'],
    'pm_1.0_1.0': ['times', 'X', 'Y', 'Z']
}
actions = ['1', '2', '3', '4-1', '4-2', '5', '6', '7']

sensor_list = ['act', 'acw', 'dc_0.05_0.05', 'pm_1.0_1.0']
for sensor in sensor_list:
    for sensor_dir in glob.iglob('.\\data\\' + sensor ):
        for subject_id, subject_dir in enumerate(glob.iglob(f"{sensor_dir}\\*")):
            for action_id, file in enumerate(os.listdir(subject_dir)):
                full_path = f"{subject_dir}\\{file}"
                #print(f"reading{full_path}")
                df_tmp = pd.read_csv(full_path, names=headers['act'])
                # add one to make it match the given format
                df_tmp['subject'] = subject_id + 1
                df_tmp['action'] = actions[action_id]
                if total_data[sensor] is None:
                    total_data[sensor] = df_tmp
                else:
                    total_data[sensor] = pd.concat([total_data[sensor], df_tmp])

Wall time: 10min 50s

In [62]:
for key in total_data.keys():
    if total_data[key] is not None:
        print(key)
        print(total_data[key]['action'].unique())
        print(total_data[key]['subject'].unique())
        for header in headers[key]:
            print(total_data[key][header].isnull().values.any())
        print('-------------------------------------------------------------------------')

act
['1' '2' '3' '4-1' '4-2' '5' '6' '7']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]
False
False
False
False
-------------------------------------------------------------------------
acw
['1' '2' '3' '4-1' '4-2' '5' '6' '7']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]
False
False
False
False
-------------------------------------------------------------------------
dc_0.05_0.05
['1' '2' '3' '4-1' '4-2' '5' '6' '7']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]
False
False
False
False
-------------------------------------------------------------------------
pm_1.0_1.0
['1' '2' '3' '4-1' '4-2' '5' '6' '7']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]
False
False
False
False
-------------------------------------------------------------------------

In [63]:
print(total_data['act']['action'].unique())

['1' '2' '3' '4-1' '4-2' '5' '6' '7']

In [40]:
total_data['act'].head()

                        times         X         Y         Z  subject action
0  2018-11-08 11:34:51.474000 -0.546875 -0.828125 -0.109375        1      1
1  2018-11-08 11:34:51.484000 -0.531250 -0.828125 -0.109375        1      1
2  2018-11-08 11:34:51.494000 -0.531250 -0.828125 -0.109375        1      1
3  2018-11-08 11:34:51.504000 -0.531250 -0.843750 -0.109375        1      1
4  2018-11-08 11:34:51.513000 -0.515625 -0.843750 -0.109375        1      1

In [78]:
for key in total_data.keys():
    print(key)
    print(total_data[key].head())

act
   2018-11-08 11:34:51.474000  -0.546875  -0.828125  -0.109375  subject  \
0  2018-11-08 11:34:51.484000  -0.531250  -0.828125  -0.109375        0
1  2018-11-08 11:34:51.494000  -0.531250  -0.828125  -0.109375        0
2  2018-11-08 11:34:51.504000  -0.531250  -0.843750  -0.109375        0
3  2018-11-08 11:34:51.513000  -0.515625  -0.843750  -0.109375        0
4  2018-11-08 11:34:51.523000  -0.515625  -0.828125  -0.125000        0

   action 2018-11-08 11:41:07.456000  -0.53125  -0.796875  0.203125  ...  \
0       0                        NaN       NaN        NaN       NaN  ...
1       0                        NaN       NaN        NaN       NaN  ...
2       0                        NaN       NaN        NaN       NaN  ...
3       0                        NaN       NaN        NaN       NaN  ...
4       0                        NaN       NaN        NaN       NaN  ...

  2019-03-26 16:08:30.386000  2019-03-26 16:10:09.884000  \
0                        NaN                         NaN
1                        NaN                         NaN
2                        NaN                         NaN
3                        NaN                         NaN
4                        NaN                         NaN

   2019-03-26 16:31:30.138000  2019-03-26 16:33:39.439000  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         NaN                         NaN
3                         NaN                         NaN
4                         NaN                         NaN

  2019-03-26 16:35:24.119000  2019-03-26 16:38:32.327000  \
0                        NaN                         NaN
1                        NaN                         NaN
2                        NaN                         NaN
3                        NaN                         NaN
4                        NaN                         NaN

   2019-03-26 16:39:09.081000  2019-03-26 16:40:35.624000  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         NaN                         NaN
3                         NaN                         NaN
4                         NaN                         NaN

  2019-03-26 16:42:44.799000  2019-03-26 16:44:49.420000
0                        NaN                         NaN
1                        NaN                         NaN
2                        NaN                         NaN
3                        NaN                         NaN
4                        NaN                         NaN

[5 rows x 373 columns]
acw
   2018-11-08 11:34:51.474000     0.125  -0.046875  0.90625  subject  action  \
0  2018-11-08 11:34:51.485000  0.109375    -0.0625  0.90625        0       0
1  2018-11-08 11:34:51.495000  0.109375    -0.0625  0.90625        0       0
2  2018-11-08 11:34:51.505000  0.125000    -0.0625  0.90625        0       0
3  2018-11-08 11:34:51.516000  0.125000    -0.0625  0.90625        0       0
4  2018-11-08 11:34:51.526000  0.125000    -0.0625  0.90625        0       0

  2018-11-08 11:41:07.456000  -0.484375  -0.53125  -0.75  ...  \
0                        NaN        NaN       NaN    NaN  ...
1                        NaN        NaN       NaN    NaN  ...
2                        NaN        NaN       NaN    NaN  ...
3                        NaN        NaN       NaN    NaN  ...
4                        NaN        NaN       NaN    NaN  ...

  2019-03-26 16:08:30.383000  2019-03-26 16:10:09.884000  \
0                        NaN                         NaN
1                        NaN                         NaN
2                        NaN                         NaN
3                        NaN                         NaN
4                        NaN                         NaN

   2019-03-26 16:31:30.135000  2019-03-26 16:33:39.443000  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         NaN                         NaN
3                         NaN                         NaN
4                         NaN                         NaN

  2019-03-26 16:35:24.116000  2019-03-26 16:38:32.335000  \
0                        NaN                         NaN
1                        NaN                         NaN
2                        NaN                         NaN
3                        NaN                         NaN
4                        NaN                         NaN

   2019-03-26 16:39:09.077000  2019-03-26 16:40:35.617000  \
0                         NaN                         NaN
1                         NaN                         NaN
2                         NaN                         NaN
3                         NaN                         NaN
4                         NaN                         NaN

  2019-03-26 16:42:44.800000  2019-03-26 16:44:49.415000
0                        NaN                         NaN
1                        NaN                         NaN
2                        NaN                         NaN
3                        NaN                         NaN
4                        NaN                         NaN

[5 rows x 379 columns]